<%- include("partials/header") -%>

<h1>About</h1>
<p><%= about %></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15473.942575177422!2d101.3544531!3d14.16631005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311c52d1517a368f%3A0xdb2834d0125dc485!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Lie4Lij4Liw4LiI4Lit4Lih4LmA4LiB4Lil4LmJ4Liy4Lie4Lij4Liw4LiZ4LiE4Lij4LmA4Lir4LiZ4Li34LitIOC4p-C4tOC4l-C4ouC4suC5gOC4guC4leC4m-C4o-C4suC4iOC4teC4meC4muC4uOC4o-C4tQ!5e0!3m2!1sth!2sth!4v1640531217723!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<%- include("partials/footer") -%>
